.nxl-version-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.nxl-version-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 500;
}